logins:
# nameId: login
    noreply: no-reply@..
    root: root@..
    admin: admin@..
    test: test@..
    newuser: newuser@..
    newuser_startcampaign: newuser-startcampaign@..
    incorrectcard: incorrect-card@..
passwds:
# nameId: 111111
    root: 111111
    admin: 111111
    test: 111111
    newuser: 111111
    newuser_startcampaign: 111111
    incorrectcard: 111111
usernames:
# nameId: username
    root: fname1 lname1
    admin: fname2 lname2
    test: fname3 lname3
    newuser: fname4 lname4
    newuser_startcampaign: fname5 lname5
    incorrectcard: fname6 lname6

urls:
    dev: https://.dev.com
    prod: https://.prod.com
    base: https://.base.com
    admindev: https://.admindev.com

pathto:
    logfile: ./log.txt
    screenshots: ./Screenshots/
    files: ./toUpload/

email:
    protocol: mail.store.protocol
    store: imaps
    connect: mail.plur.se
    folder: inbox
    account: account@..
    password: 111111
